@use "../sass/variable-mixin.scss" as vari;
@use "../sass/animations.scss" as anim;

@import "../sass/menu.scss";

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

/* EN TETE */
header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 1px 2px 3px grey;
  padding-bottom: 0.3rem;
  position: relative;
  h1 {
    padding: 1rem;
    margin: 0;
  }
}

.loading_screen {
  position: fixed;
  inset: 0;
  background-color: #e4e4e4;
  opacity: 0.9;
  height: 100vh;
  z-index: 1;
  animation: loading 1s 1s forwards;
  display: grid;
  place-items: center;
  transform-origin: center;
  &::after {
    animation: spin 2s linear infinite;
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: linear-gradient(#ff79da, #9356dc);
  }
}

body {
  font-family: "Roboto", sans-serif;
}
main {
  padding: 0 1rem 0 1rem;
  @media (max-width: 960px) {
    padding: 0;
  }
}

// recherche de lieu

.lieu {
  text-align: center;
  border: 1px solid lightgray;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  i {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 500;
  }
}

// section numero 1
.premiere_section {
  text-align: center;
  h2 {
    font-size: 1.7rem;
    margin-top: 2.5rem;
  }
  button {
    background-image: linear-gradient(#ff79da, #9356dc);
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    color: white;
    margin-top: 1.3rem;
    font-size: 1.1rem;
    @include vari.button-shadow;
    &:hover {
      @include vari.hover-effet-button;
      cursor: pointer;
    }
  }
}

// FONCTIONNEMENT

.fonctionnement {
  counter-reset: zero;
  padding-left: 1rem;
  margin-bottom: 2rem;
  ol {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin-right: 3rem;
    list-style-type: none;
    @media (max-width: 960px) {
      flex-direction: column;
    }
  }
  & li {
    background-color: #f6f6f6;
    font-weight: bold;
    font-size: 14px;
    padding: 1.6rem 1rem;
    flex-grow: 1;
    border-radius: 1rem;
    position: relative;
    @include vari.button-shadow;
    &::before {
      content: counter(zero);
      counter-increment: zero;
      color: white;
      background-color: #9356dc;
      display: flex;
      width: 2rem;
      height: 2rem;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      bottom: 1rem;
      left: -1rem;
    }
    &:hover {
      @include vari.hover-effet;
      i.logo {
        color: #9356dc;
      }
    }
    & i.logo {
      color: grey;
      padding: 0 1rem 0 0.5rem;
    }
  }
}

.menu_section {
  background-color: #f6f6f6;

  & a {
    text-decoration: none;
    color: black;
  }
  h2 {
    margin-top: 2.5rem;
    padding-left: 1rem;
    margin-bottom: 1.4rem;
    padding-top: 3.5rem;
  }

  h3,
  p {
    margin: 0rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
  p {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }

  h3 {
    padding-top: 1rem;
  }
  .menu_carte {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 1rem 0rem 1rem;
    .nouveau {
      position: relative;
    }

    .nouveau::before {
      content: "Nouveau";
      position: absolute;
      height: 2rem;
      width: 6rem;
      background-color: #99e2d0;
      color: darken($color: #99e2d0, $amount: 45%);
      display: grid;
      place-items: center;
      right: 2rem;
      top: 1rem;
    }
    @media (max-width: 960px) {
      grid-template-columns: 1fr;
      margin-bottom: -1rem;
      padding-bottom: 3rem;
    }
  }
  .carte {
    flex-grow: 1;
    min-width: 15rem;
    .images_resto1 {
      background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
      min-height: 12rem;
      background-size: cover;
      border-radius: 2rem 2rem 0 0;
      background-position: center;
    }
    .images_resto2 {
      background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
      min-height: 12rem;
      background-size: cover;
      border-radius: 2rem 2rem 0 0;
      background-position: center;
    }
    .images_resto3 {
      background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
      min-height: 12rem;
      background-size: cover;
      border-radius: 2rem 2rem 0 0;
      background-position: center;
    }
    .images_resto4 {
      background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
      min-height: 12rem;
      background-size: cover;
      border-radius: 2rem 2rem 0 0;
      background-position: center;
    }
  }
}

.description_resto {
  position: relative;
  border-radius: 0 0 2rem 2rem;
  background-color: white;
  .fa-regular {
    font-size: 1.9rem;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
  }
  .fa-solid {
    font-size: 1.9rem;
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
    color: transparent;
    &:hover {
      background-image: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      transform: scale(1.15);
      transition: all 400ms ease-in-out;
    }
  }
}

.pied_de_page {
  background-color: rgb(43, 43, 43);
  color: white;
  margin-bottom: -1rem;
  padding-left: 2rem;

  h2 {
    font-family: "Shrikhand", sans-serif;
    padding-top: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .couvert {
    padding-right: 0.8rem;
  }
  .logomain {
    padding-right: 0.4rem;
  }
  p {
    margin: 5px;
  }
}
