@keyframes anim-spin {
    0%{
        transform: rotate(-280deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes pop-up{
    0%{
        transform: translateY(90%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading{
    0%{
     
        opacity: 0.90;
        
    }
    20%{
        opacity: 0; 
    }
    40%{
        transform: scale(0); 
    }
    100%{
        opacity: 0; 
        transform: scale(0); 
    }
   
}


@keyframes spin{
    to{
         transform: rotate(360deg);
         opacity: 1;
    }
}