@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import "../utils/variable.scss";




*{
    box-sizing: border-box;
}


/* EN TETE */
header{
    font-family: "Shrikhand", sans-serif;
    text-align: center;
    box-shadow: 1px 2px 3px grey;
    padding-bottom: 0.3rem;
    position: relative;
    
}


body{
    font-family: "Roboto", sans-serif;
}




// recherche de lieu

.lieu{
    text-align: center;
    border: 1px solid lightgray;
    background-color: #f3f3f3;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   i{
    font-size: 1.5rem;
}
}


// section numero 1
.Premiere_Section{
    text-align: center;
    h2{
        font-size: 1.7rem;
        margin-top: 2.5rem;
}
button{
    background-image: linear-gradient(#FF79DA, #9356DC);
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    color: white;
    @include button-shadow;
    margin-top: 1.3rem;
    font-size: 1.1rem;
    &:hover{
        @include hover-effet;
      
    }
}
}

// FONCTIONNEMENT

.fonctionnement{
    padding-left: 1rem;
    ol{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap:2rem;
        @media (max-width: 866px)
        {
            flex-direction: column;
        } 
    }
    li{
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        border: 1px solid red;
        flex-grow: 1;
        border-radius: 1rem;
        @include button-shadow;
        &:hover{
            @include hover-effet;
        }
    }
}

   



