@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
}

/* EN TETE */
header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 1px 2px 3px grey;
  padding-bottom: 0.3rem;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 1rem 0 1rem;
}
@media (max-width: 960px) {
  main {
    padding: 0;
  }
}

.lieu {
  text-align: center;
  border: 1px solid lightgray;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.lieu i {
  font-size: 1.2rem;
}
.lieu h2 {
  font-size: 1rem;
  font-weight: 500;
}

.premiere_section {
  text-align: center;
}
.premiere_section h2 {
  font-size: 1.7rem;
  margin-top: 2.5rem;
}
.premiere_section button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  color: white;
  box-shadow: 1px 2px 3px 4px lightgrey;
  margin-top: 1.3rem;
  font-size: 1.1rem;
}
.premiere_section button:hover {
  transform: scale(1.1);
  transition: all 1000ms;
  background-color: #f5edff;
}

.fonctionnement {
  counter-reset: zero;
  padding-left: 1rem;
  margin-bottom: 2rem;
}
.fonctionnement ol {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  margin-right: 3rem;
  list-style-type: none;
}
@media (max-width: 960px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  background-color: #f6f6f6;
  padding: 1.6rem 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  position: relative;
  box-shadow: 1px 2px 3px 4px lightgrey;
}
.fonctionnement li::before {
  content: counter(zero);
  counter-increment: zero;
  color: white;
  background-color: #9356DC;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.fonctionnement li:hover {
  transform: scale(1.1);
  transition: all 1000ms;
  background-color: #f5edff;
}
.fonctionnement li i.logo {
  color: grey;
  padding: 0 1rem 0 0.5rem;
}

.menu_section {
  background-color: #f6f6f6;
}
.menu_section a {
  text-decoration: none;
  color: black;
}
.menu_section h2 {
  margin-top: 2.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 2rem;
}
.menu_section h3, .menu_section p {
  margin: 0rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
}
.menu_section p {
  padding-top: 0.2rem;
  padding-bottom: 1rem;
}
.menu_section h3 {
  padding-top: 1rem;
}
.menu_section .menu_carte {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding: 0rem 1rem 0rem 1rem;
}
.menu_section .menu_carte .nouveau {
  position: relative;
}
.menu_section .menu_carte .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  background-color: #99E2D0;
  color: #217460;
  display: grid;
  place-items: center;
  right: 2rem;
  top: 1rem;
}
@media (max-width: 960px) {
  .menu_section .menu_carte {
    grid-template-columns: 1fr;
  }
}
.menu_section .carte {
  flex-grow: 1;
  min-width: 15rem;
}
.menu_section .carte .images_resto1 {
  background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  min-height: 12rem;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}
.menu_section .carte .images_resto2 {
  background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  min-height: 12rem;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}
.menu_section .carte .images_resto3 {
  background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  min-height: 12rem;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}
.menu_section .carte .images_resto4 {
  background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  min-height: 12rem;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}

.description_resto {
  position: relative;
  border-radius: 0 0 2rem 2rem;
  background-color: white;
}
.description_resto .fa-regular {
  font-size: 1.9rem;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
}
.description_resto .fa-solid {
  font-size: 1.9rem;
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  color: transparent;
}
.description_resto .fa-solid:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform: scale(1.15);
  transition: all 400ms ease-in-out;
}

.pied_de_page {
  background-color: rgb(43, 43, 43);
  color: white;
  margin-bottom: -1rem;
  padding-left: 2rem;
}
.pied_de_page h2 {
  font-family: "Shrikhand", sans-serif;
  padding-top: 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.pied_de_page a {
  text-decoration: none;
  color: white;
}
.pied_de_page .couvert {
  padding-right: 0.8rem;
}
.pied_de_page .logomain {
  padding-right: 0.4rem;
}
.pied_de_page p {
  margin: 5px;
}

.images_menus {
  max-width: 100%;
}

.titres_menus {
  font-family: "Shrikhand", sans-serif;
  padding: 1rem 1rem 0rem 1.5rem;
}

.coeur_resto {
  position: relative;
  border-radius: 0 0 2rem 2rem;
  background-color: white;
}
.coeur_resto .fa-regular {
  font-size: 1.7rem;
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
}
.coeur_resto .fa-solid {
  font-size: 1.7rem;
  position: absolute;
  right: 1rem;
  bottom: 0.3rem;
  color: transparent;
}
.coeur_resto .fa-solid:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  transform: scale(1.15);
  transition: all 400ms ease-in-out;
}/*# sourceMappingURL=styles.css.map */